<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Soil Report Generator</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h3> Look up info about your soil </h3>
    <p> To get started enter Lat/Lon coords for a location within the U.S.</p>
      <p> Data is sourced from the <a href="https://www.nrcs.usda.gov/wps/portal/nrcs/detail/soils/survey/?cid=nrcs142p2_053627" target="_blank">NRCS SSURGO</a> database, courtesy of the <a href="https://teralytic.com/" target="_blank">Teralytic</a> Soils API.</p>
      
    <form action = "http://localhost:5000/result" method = "POST">
         <p>Latitude <input type = "text" name = "Latitude" /></p>
         <p>Longitude <input type = "text" name = "Longitude" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
    {% endblock %}
  </body>
</html>